<script>
  jQuery(document).ready(function($) {

  $(window).load(function(){
    $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });

  });
</script>

<style type="text/css">
  div#preloader { position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      overflow: visible;
      background: #fff url('http://preloaders.net/preloaders/720/Moving%20line.gif') no-repeat center center;
  }

</style>

<div id="preloader"></div>

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code: You may get confused')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [1]:
import pandas as pd
import numpy as np
import os

# Creating a path to the generated data
schools_file = os.path.join("Generators","PyCitySchools","generated_data","schools_complete.csv")
students_file = os.path.join("Generators","PyCitySchools","generated_data","students_complete.csv")

# Reading the two csv files
schools_pd = pd.read_csv(schools_file)
students_pd = pd.read_csv(students_file)

# Calculating total amount of students passed
passed_reading = students_pd.loc[students_pd['reading_score'] >= 70].count()["Student ID"]
passed_math = students_pd.loc[students_pd['math_score'] >= 70].count()["Student ID"]

# Calculating totals and averages of schools and students
total_schools = len(schools_pd['school_name'].unique())
total_students = students_pd['Student ID'].count()
total_budget = '${:,.2f}'.format(schools_pd['budget'].sum())
average_reading = round(students_pd['reading_score'].mean(), 2)
average_math = round(students_pd['math_score'].mean(),2)

# Calculating the passing rates for reading, math and overall
rate_reading = round((passed_reading/total_students)*100,2)
rate_math = round((passed_math/total_students)*100,2)
rate_overall = round(((rate_reading+rate_math)/2),2)

# Creating and organizing the summary table
summary_table = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [rate_math],
    "% Passing Reading": [rate_reading],
    "% Passing Overall": [rate_overall]
                             })
summary_table_organized = summary_table[['Total Schools', 'Total Students','Total Budget','Average Math Score','Average Reading Score',\
                            '% Passing Math','% Passing Reading','% Passing Overall']]
summary_table_organized

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,11,29376,"$18,648,468.00",82.27,82.87,86.86,78.22,82.54

In [2]:
# Grouping and indexing for easier values to acquire
schools_indexed = schools_pd.set_index('school_name')
students_indexed = students_pd.set_index('school_name')
schools_grouped = students_indexed.groupby(['school_name'])
schools_students = pd.merge(schools_pd, students_pd, on="school_name")

# Grabbing the fields from the indexed schools
types = schools_indexed['type']
size = schools_indexed['size']
budget = schools_indexed['budget']
budgetps = schools_indexed['budget']/schools_indexed['size']

# Grabbing the means from the grouped schools
reading_mean = schools_grouped['reading_score'].mean()
math_mean = schools_grouped['math_score'].mean()

passed_math = students_indexed.loc[students_indexed['math_score'] >= 70].groupby('school_name').count()["Student ID"]
passed_reading = students_indexed.loc[students_indexed['reading_score'] >= 70].groupby('school_name').count()["Student ID"]

# Calculating the % passing #################### FIX
pass_math = passed_math/size*100
pass_reading = passed_reading/size*100
pass_overall = (pass_math+pass_reading)/2

# Creating and formatting the school summary
school_unformatted = pd.DataFrame({
    "School Type": types,
    "School Size": size,
    "Total School Budget": budget,
    "Budget Per Student": budgetps,
    "Average Math Score": math_mean,
    "Average Reading Score": reading_mean,
    "% Pass Math": pass_math,
    "% Pass Reading": pass_reading,
    "% Pass Overall": pass_overall
})
school_summary = school_unformatted[['School Type','School Size','Total School Budget','Budget Per Student',\
                                    'Average Math Score','Average Reading Score','% Pass Math','% Pass Reading',\
                                    '% Pass Overall']]
school_summary

,School Type,School Size,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
Campbell High School,Charter,271,157993,583.0,83.594096,93.771218,95.202952,100.000000,97.601476
Galloway High School,Charter,2471,1445535,585.0,83.566168,94.029543,94.212869,100.000000,97.106435
Glass High School,District,3271,2155589,659.0,81.293183,76.888108,82.329563,67.349434,74.839499
Gomez High School,Charter,2154,1288092,598.0,83.838440,94.027391,93.964717,100.000000,96.982358
Gonzalez High School,Charter,1855,1192765,643.0,83.442588,94.140701,93.207547,100.000000,96.603774
Hawkins High School,District,4555,2851430,626.0,81.723820,77.005928,83.907794,66.915477,75.411636
Kelly High School,District,3307,2225611,673.0,81.678258,76.829755,83.398851,66.555791,74.977321
Macdonald High School,Charter,901,550511,611.0,83.779134,93.932297,94.339623,100.000000,97.169811
Miller High School,Charter,2424,1418040,585.0,83.610149,93.997525,93.564356,100.000000,96.782178
Sherman High School,District,3213,2152710,670.0,81.502023,77.290694,82.944289,67.289138,75.116713
Smith High School,District,4954,3210192,648.0,81.539160,77.146952,83.165119,66.370610,74.767864

In [3]:
## Sorting for best passing overall
top_schools = school_summary.sort_values(["% Pass Overall"], ascending=False)
top_schools

,School Type,School Size,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
Campbell High School,Charter,271,157993,583.0,83.594096,93.771218,95.202952,100.000000,97.601476
Macdonald High School,Charter,901,550511,611.0,83.779134,93.932297,94.339623,100.000000,97.169811
Galloway High School,Charter,2471,1445535,585.0,83.566168,94.029543,94.212869,100.000000,97.106435
Gomez High School,Charter,2154,1288092,598.0,83.838440,94.027391,93.964717,100.000000,96.982358
Miller High School,Charter,2424,1418040,585.0,83.610149,93.997525,93.564356,100.000000,96.782178
Gonzalez High School,Charter,1855,1192765,643.0,83.442588,94.140701,93.207547,100.000000,96.603774
Hawkins High School,District,4555,2851430,626.0,81.723820,77.005928,83.907794,66.915477,75.411636
Sherman High School,District,3213,2152710,670.0,81.502023,77.290694,82.944289,67.289138,75.116713
Kelly High School,District,3307,2225611,673.0,81.678258,76.829755,83.398851,66.555791,74.977321
Glass High School,District,3271,2155589,659.0,81.293183,76.888108,82.329563,67.349434,74.839499
Smith High School,District,4954,3210192,648.0,81.539160,77.146952,83.165119,66.370610,74.767864

In [4]:
## Sorting for worst passing overall
bottom_schools = school_summary.sort_values(["% Pass Overall"], ascending=True)
bottom_schools

,School Type,School Size,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
Smith High School,District,4954,3210192,648.0,81.539160,77.146952,83.165119,66.370610,74.767864
Glass High School,District,3271,2155589,659.0,81.293183,76.888108,82.329563,67.349434,74.839499
Kelly High School,District,3307,2225611,673.0,81.678258,76.829755,83.398851,66.555791,74.977321
Sherman High School,District,3213,2152710,670.0,81.502023,77.290694,82.944289,67.289138,75.116713
Hawkins High School,District,4555,2851430,626.0,81.723820,77.005928,83.907794,66.915477,75.411636
Gonzalez High School,Charter,1855,1192765,643.0,83.442588,94.140701,93.207547,100.000000,96.603774
Miller High School,Charter,2424,1418040,585.0,83.610149,93.997525,93.564356,100.000000,96.782178
Gomez High School,Charter,2154,1288092,598.0,83.838440,94.027391,93.964717,100.000000,96.982358
Galloway High School,Charter,2471,1445535,585.0,83.566168,94.029543,94.212869,100.000000,97.106435
Macdonald High School,Charter,901,550511,611.0,83.779134,93.932297,94.339623,100.000000,97.169811
Campbell High School,Charter,271,157993,583.0,83.594096,93.771218,95.202952,100.000000,97.601476

In [5]:
# Grabbing the average math score per grade
ninth = round(students_indexed.loc[students_indexed['grade'] == '9th'].groupby("school_name")['math_score'].mean(), 2)
tenth = round(students_indexed.loc[students_indexed['grade'] == '10th'].groupby("school_name")['math_score'].mean(), 2)
eleventh = round(students_indexed.loc[students_indexed['grade'] == '11th'].groupby("school_name")['math_score'].mean(), 2)
twelfth = round(students_indexed.loc[students_indexed['grade'] == '12th'].groupby("school_name")['math_score'].mean(), 2)
math_unformatted = pd.DataFrame({
    "9th Grade": ninth,
    "10th Grade": tenth,
    "11th Grade": eleventh,
    "12th Grade": twelfth
})
math_summary = math_unformatted[['9th Grade','10th Grade','11th Grade','12th Grade']]
math_summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Campbell High School       83.84       84.27       83.94       82.06
Galloway High School       83.53       83.55       83.98       83.20
Glass High School          81.87       81.04       81.39       80.82
Gomez High School          83.68       83.97       83.87       83.83
Gonzalez High School       83.55       83.95       83.20       82.84
Hawkins High School        81.67       81.48       81.89       81.94
Kelly High School          81.79       81.88       81.50       81.45
Macdonald High School      84.26       83.81       83.48       83.52
Miller High School         83.82       83.62       83.64       83.30
Sherman High School        81.50       81.53       81.23       81.74
Smith High School          81.91       81.00       81.83       81.55

In [6]:
# Grabbing the average reading score per grade
ninth = round(students_indexed.loc[students_indexed['grade'] == '9th'].groupby("school_name")['reading_score'].mean(), 2)
tenth = round(students_indexed.loc[students_indexed['grade'] == '10th'].groupby("school_name")['reading_score'].mean(), 2)
eleventh = round(students_indexed.loc[students_indexed['grade'] == '11th'].groupby("school_name")['reading_score'].mean(),2)
twelfth = round(students_indexed.loc[students_indexed['grade'] == '12th'].groupby("school_name")['reading_score'].mean(),2)
reading_unformatted = pd.DataFrame({
    "9th Grade": ninth,
    "10th Grade": tenth,
    "11th Grade": eleventh,
    "12th Grade": twelfth
})
reading_summary = reading_unformatted[['9th Grade','10th Grade','11th Grade','12th Grade']]
reading_summary

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Campbell High School       93.47       93.88       94.08       93.71
Galloway High School       94.07       93.96       93.98       94.13
Glass High School          76.44       77.32       77.13       76.62
Gomez High School          94.19       93.97       93.81       94.13
Gonzalez High School       94.04       94.10       94.42       94.04
Hawkins High School        76.52       77.17       77.53       76.85
Kelly High School          76.37       77.27       76.64       76.97
Macdonald High School      94.05       94.14       93.80       93.67
Miller High School         93.90       94.04       94.24       93.82
Sherman High School        77.29       77.11       77.31       77.50
Smith High School          76.86       76.81       77.34       77.75

In [7]:
# Binning section for the budget
budget_bins = [0, 584.99, 614.999, 644.999, 1000000000000000000000]
budgets = ['< $585', "$585 - 614", "$615 - 644", "> $644"]

# Executing the bin
school_summary["Spending Ranges"] = pd.cut(school_summary["Budget Per Student"], budget_bins, labels=budgets)
binned = school_summary.groupby("Spending Ranges")

# Calculating the averages in the bins
binned_math = round(binned["Average Math Score"].mean(), 2)
binned_reading = round(binned["Average Reading Score"].mean(), 2)
binned_pmath = round(binned["% Pass Math"].mean(), 2)
binned_preading = round(binned["% Pass Reading"].mean(), 2)
binned_poverall = round(binned["% Pass Overall"].mean(), 2)

binned_unformatted = pd.DataFrame({
    "Average Math Score": binned_math,
    "Average Reading Score": binned_reading,
    "% Pass Math": binned_pmath,
    "% Pass Reading": binned_preading,
    "% Pass Overall": binned_poverall    
})

binned_summary = binned_unformatted[["Average Math Score","Average Reading Score","% Pass Math","% Pass Reading","% Pass Overall"]]
binned_summary

E:\Programs\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
Spending Ranges,,,,,
< $585,83.59,93.77,95.20,100.00,97.60
$585 - 614,83.70,94.00,94.02,100.00,97.01
$615 - 644,82.58,85.57,88.56,83.46,86.01
> $644,81.50,77.04,82.96,66.89,74.93

In [8]:
# Grouping by type
typed = school_summary.groupby("School Type")

# Calculating the averages in the types
typed_math = round(typed["Average Math Score"].mean(), 2)
typed_reading = round(typed["Average Reading Score"].mean(), 2)
typed_pmath = round(typed["% Pass Math"].mean(), 2)
typed_preading = round(typed["% Pass Reading"].mean(), 2)
typed_poverall = round(typed["% Pass Overall"].mean(), 2)

typed_unformatted = pd.DataFrame({
    "Average Math Score": typed_math,
    "Average Reading Score": typed_reading,
    "% Pass Math": typed_pmath,
    "% Pass Reading": typed_preading,
    "% Pass Overall": typed_poverall    
})

typed_summary = typed_unformatted[["Average Math Score","Average Reading Score","% Pass Math","% Pass Reading","% Pass Overall"]]
typed_summary

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
School Type,,,,,
Charter,83.64,93.98,94.08,100.0,97.04
District,81.55,77.03,83.15,66.9,75.02

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>